<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jolo & Hannah Wedding · Our Haven · 3 Dec</title>
    <meta name="description" content="{{ page.desc }}">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Jolo & Hannah Wedding · Our Haven · 3 December 2023">
    <meta itemprop="description" content="Jolo and Hannah are getting married at Our Haven Events Place, Tagaytay on 3 December">
    <meta itemprop="image" content="{{site.imagesBannerMeta}}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://jolowedshannah.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Jolo & Hannah Wedding · Our Haven · 3 December 2023">
    <meta property="og:description" content="Jolo and Hannah are getting married at Our Haven Events Place, Tagaytay on 3 December">
    <meta property="og:image" content="{{site.imagesBannerMeta}}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Jolo & Hannah Wedding · Our Haven · 3 December 2023">
    <meta name="twitter:description" content="Jolo and Hannah are getting married at Our Haven Events Place, Tagaytay on 3 December">
    <meta name="twitter:image" content="{{site.imagesBannerMeta}}">

    <!-- ^^ Social Meta Tags Generated via http://heymeta.com  ^^ -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600|Raleway:500,500italic" rel="stylesheet" type="text/css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main.css?v=2">
    <!-- Touch icons -->
    <link rel="icon" type="image/png" href="{{site.iconsFavIcon}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.iconsFavIcon}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.iconsFavIcon}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.iconsFavIcon}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.iconsFavIcon}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.iconsFavIcon}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.iconsFavIcon}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.iconsFavIcon}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.iconsFavIcon}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.iconsFavIcon}">
    <link rel="icon" type="image/png" href="{{site.iconsFavIcon}}" sizes="192x192">
    <meta name="msapplication-square150x150logo" content="{{site.iconsFavIcon}" />
    <meta name="msapplication-square310x310logo" content="{{site.iconsFavIcon}" />
</head>
